.daily-schedule {
  margin-left: 0.5rem;
  background-color: $secondary;
  display: flex;
}

.day {
  min-width: 30rem;
  background-color: $white;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &__header {
    background-color: $secondary;
    text-align: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    color: $white;
    font-size: 1.1rem;

    &:not(:first-child) {
      border-left: 1px solid $white;
    }
  }
}

.load-1,
.load-2,
.load-3 {
  background-color: $white;
  text-align: center;
  margin: 0.5rem 1.5rem;
  background-color: $secondary-light;
  padding: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1rem;
  border: 1px solid $secondary;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba($black, 0.3);

  &__footer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    // padding: 0.5rem 1rem;
    margin-top: 0.1rem;
    background-color: white;
    border-radius: 0 0 0 1rem;
    height: 2rem;
    width: 12rem;
  }

  &__notes {
    background-color: $secondary-light;
    border: 1px solid $white;
    width: 90%;
    color: $white;
  }
}

.load-container {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
}

.pickup {
  padding: 0.5rem;
  margin-bottom: 0.1rem;
  background-color: $white;
  border-radius: 1rem 0 0 0;
  height: 2rem;
  width: 12rem;
  border: none;
  color: $secondary;
  font-weight: bold;
  text-align: center;
}

.unload {
  width: 12rem;
  height: 2rem;
  padding: 0.5rem;
  background-color: $white;
  border: none;
  font-weight: bold;
  text-align: center;
  color: $secondary;
}

.revenue {
  text-align: center;
  width: 5rem;
  border: 1px dashed $secondary;
  height: 100%;
  margin: 0;
  color: $secondary;
  font-weight: bold;
}

.mt {
  text-align: center;
  border: none;
  border-radius: 0 0 0 1rem;
  border: 1px dashed $secondary;
  text-align: center;
  background-color: $white;
  width: 3.5rem;
  cursor: pointer;
  margin: 0;
  height: 100%;
  color: $secondary;
  font-weight: bold;
}

.fsc {
  border: none;
  width: 3.5rem;
  border: 1px dashed $secondary;
  text-align: center;
  cursor: pointer;
  height: 100%;
  color: $secondary;
  font-weight: bold;
}

.notes-container {
  color: $white;
}
