.driver-card {
  border: 1px solid $white;
  border-radius: 1rem 0 0 1rem;
  padding: 1rem;
  width: fit-content;

  &__header {
    display: flex;
    margin: auto auto;
    padding: auto auto;
  }

  .driver-name {
    padding: 0.5rem;
    text-align: left;
  }

  .unit {
    padding: 0.5rem;
    text-align: right;
    margin-left: 1.5rem;
  }
}
