.driver-card {
  border: 1px solid $white;
  border-radius: 1rem 0 0 1rem;
  padding: 1rem;
  width: fit-content;
  color: $white;

  &__header {
    border-bottom: 1px solid $white;
    margin-bottom: 1rem;
  }

  .unit {
    text-align: left;
  }
}
