body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 100%;
}

.greeting-header {
  text-align: center;
  display: block;
}

.greeting-timebox {
  text-align: center;
  display: block;
  padding: 1rem;
}

.schedule-header {
  color: $white;
  text-align: center;
  padding: 1rem;
  margin: 1.5rem;
  font-size: 1.5rem;
}
