body {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 100%;
}

.greeting-header {
  text-align: center;
  display: block;
}

.greeting-timebox {
  text-align: center;
  display: block;
  padding: 1rem;
}

.schedule-header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;

  &__button-box,
  &__load-button {
    display: flex;
    justify-content: center;
  }

  &__heading {
    display: flex;
    justify-content: center;
    color: $white;
  }

  .plus-icon {
    margin-right: 0.2rem;
  }
}
